<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Add</title>
</head>
<body>
<form method="post">
    <input type="text" name="title" placeholder="Book title">
    <br>
    <input type="text" name="description" placeholder="Book description">
    <br>
    <input type="text" name="author" placeholder="Book author">
    <br>
    <input type="number" name="price" placeholder="Book price">
    <br>
    <input type="submit" value="Add">
</form>
</body>
</html>