<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
<form action="/book/search" method="post" style="margin-bottom: 10px">
    <input type="text" placeholder="Enter a value" name="value">
    <label for="property">Select a property</label>
    <select name="property" id="property">
        <option value="title">Title</option>
        <option value="description">Description</option>
        <option value="author">Author</option>
    </select>
    <button type="submit">Search</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{description}"></td>
        <td th:text="*{author}"></td>
        <td th:text="*{price}"></td>
        <td>
            <a th:href="@{/book/edit/{id}(id=*{id})}">Edit book</a> ||
            <a th:href="@{/book/delete/{id}(id=*{id})}">Delete book</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/book/add">Book Add</a>
</body>
</html>